USE [master]
GO
/****** Object:  Database [a4]    Script Date: 23.05.2023 14:32:43 ******/
CREATE DATABASE [a4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'a4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.WS2021\MSSQL\DATA\a4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'a4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.WS2021\MSSQL\DATA\a4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [a4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [a4]
GO
/****** Object:  Table [dbo].[Активности]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Активности](
	[Код] [int] NOT NULL,
	[Название_мероприятия] [nvarchar](255) NULL,
	[Дата_начала] [nvarchar](100) NULL,
	[Дни] [nvarchar](100) NULL,
	[Активность] [nvarchar](100) NULL,
	[День] [nvarchar](100) NULL,
	[Время] [nvarchar](100) NULL,
	[Модератор] [nvarchar](100) NULL,
	[Жюри1] [nvarchar](100) NULL,
	[Жюри2] [nvarchar](100) NULL,
	[Жюри3] [nvarchar](100) NULL,
	[Жюри4] [nvarchar](100) NULL,
	[Жюри5] [nvarchar](100) NULL,
	[Победитель] [nvarchar](100) NULL,
	[Код_участника] [nvarchar](100) NULL,
	[Код_организатора] [nvarchar](100) NULL,
	[Код_модератора] [nvarchar](100) NULL,
	[Код_жюри] [nvarchar](100) NULL,
 CONSTRAINT [PK_Активности] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Города]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города](
	[Код_города] [int] NOT NULL,
	[Название] [nvarchar](100) NULL,
 CONSTRAINT [PK_Города] PRIMARY KEY CLUSTERED 
(
	[Код_города] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Жюри]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Жюри](
	[Код_жюри] [nvarchar](100) NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[Пол] [nvarchar](100) NULL,
	[Роль] [nvarchar](100) NULL,
	[Почта] [nvarchar](100) NULL,
	[Дата_рождения] [nvarchar](100) NULL,
	[Страна] [nvarchar](100) NULL,
	[Телефон] [nvarchar](100) NULL,
	[Направление] [nvarchar](100) NULL,
	[Пароль] [nvarchar](100) NULL,
	[Фото] [nvarchar](100) NULL,
 CONSTRAINT [PK_Жюри] PRIMARY KEY CLUSTERED 
(
	[Код_жюри] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мероприятия]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мероприятия](
	[Код_мероприятия] [int] NOT NULL,
	[Cобытие] [nvarchar](255) NULL,
	[Дата] [nvarchar](100) NULL,
	[День] [nvarchar](100) NULL,
	[Город] [int] NULL,
 CONSTRAINT [PK_Мероприятия] PRIMARY KEY CLUSTERED 
(
	[Код_мероприятия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Модераторы]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Модераторы](
	[Код_модератора] [nvarchar](100) NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[Пол] [nvarchar](100) NULL,
	[Роль] [nvarchar](100) NULL,
	[Почта] [nvarchar](100) NULL,
	[Дата_рождения] [nvarchar](100) NULL,
	[Страна] [nvarchar](100) NULL,
	[Телефон] [nvarchar](100) NULL,
	[Направление] [nvarchar](100) NULL,
	[Мероприятие] [nvarchar](100) NULL,
	[Пароль] [nvarchar](100) NULL,
	[Фото] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Модераторы] PRIMARY KEY CLUSTERED 
(
	[Код_модератора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Организаторы]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Организаторы](
	[Код_организатора] [nvarchar](100) NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[Почта] [nvarchar](100) NULL,
	[Дата_рождения] [nvarchar](100) NULL,
	[Страна] [nvarchar](100) NULL,
	[Телефон] [nvarchar](100) NULL,
	[Пароль] [nvarchar](100) NULL,
	[Фото] [nvarchar](100) NULL,
	[Пол] [nvarchar](100) NULL,
 CONSTRAINT [PK_Организаторы] PRIMARY KEY CLUSTERED 
(
	[Код_организатора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[Название_страны] [nvarchar](100) NOT NULL,
	[Английское_название] [nvarchar](100) NULL,
	[Код] [nvarchar](100) NULL,
	[Код2] [int] NULL,
 CONSTRAINT [PK_Страны] PRIMARY KEY CLUSTERED 
(
	[Название_страны] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Участники]    Script Date: 23.05.2023 14:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Участники](
	[Код_участника] [nvarchar](100) NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[Почта] [nvarchar](100) NULL,
	[Дата_рождения] [nvarchar](100) NULL,
	[Страна] [nvarchar](100) NULL,
	[Телефон] [nvarchar](100) NULL,
	[Пароль] [nvarchar](100) NULL,
	[Фото] [nvarchar](100) NULL,
	[Пол] [nvarchar](100) NULL,
 CONSTRAINT [PK_Участники] PRIMARY KEY CLUSTERED 
(
	[Код_участника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Активности] ([Код], [Название_мероприятия], [Дата_начала], [Дни], [Активность], [День], [Время], [Модератор], [Жюри1], [Жюри2], [Жюри3], [Жюри4], [Жюри5], [Победитель], [Код_участника], [Код_организатора], [Код_модератора], [Код_жюри]) VALUES (1, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', N'9 ноября 2023 г.', N'2', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'Ершова Нора Федотовна', NULL, NULL, NULL, NULL)
INSERT [dbo].[Активности] ([Код], [Название_мероприятия], [Дата_начала], [Дни], [Активность], [День], [Время], [Модератор], [Жюри1], [Жюри2], [Жюри3], [Жюри4], [Жюри5], [Победитель], [Код_участника], [Код_организатора], [Код_модератора], [Код_жюри]) VALUES (2, N'', N'', N'', N'Лидерство в бизнесе', N'1', N'9:00', N'Царева Виктория Давидовна', N'Галкина Верона Васильевна', N'', N'Маслова Марфа Феликсовна', N'Ларионова Марина Владимировна', N'Ларионова Марина Владимировна', N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[Активности] ([Код], [Название_мероприятия], [Дата_начала], [Дни], [Активность], [День], [Время], [Модератор], [Жюри1], [Жюри2], [Жюри3], [Жюри4], [Жюри5], [Победитель], [Код_участника], [Код_организатора], [Код_модератора], [Код_жюри]) VALUES (3, N'', N'', N'', N'Технология принятия решений', N'2', N'10:45', N'Зорин Дмитрий Маркович', N'Герасимова Айлин Ефимовна', N'Большаков Августин Алексеевич', N'Гришин Вениамин Петрович', N'Маслова Марфа Феликсовна', N'Маслова Марфа Феликсовна', N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[Города] ([Код_города], [Название]) VALUES (1, N'Абаза')
INSERT [dbo].[Города] ([Код_города], [Название]) VALUES (2, N'Абакан')
INSERT [dbo].[Города] ([Код_города], [Название]) VALUES (3, N'Абдулино')
GO
INSERT [dbo].[Жюри] ([Код_жюри], [ФИО], [Пол], [Роль], [Почта], [Дата_рождения], [Страна], [Телефон], [Направление], [Пароль], [Фото]) VALUES (N'10Д', N'Корнилова Габи Георгьевна', N'женский', N'Жюри', N'deja76@mante.info', N'12.26.1962', N'64', N'7(809)651-85-96', N'Информационная безопасность', N'XLleqI', N'foto30.jpg')
INSERT [dbo].[Жюри] ([Код_жюри], [ФИО], [Пол], [Роль], [Почта], [Дата_рождения], [Страна], [Телефон], [Направление], [Пароль], [Фото]) VALUES (N'1Д', N'Галкина Верона Васильевна', N'женский', N'Жюри', N'obuckridge@sipes.com', N'05.18.1969', N'35', N'7(880)544-61-83', N'Дизайн', N'HHikbP', N'foto21.jpg')
INSERT [dbo].[Жюри] ([Код_жюри], [ФИО], [Пол], [Роль], [Почта], [Дата_рождения], [Страна], [Телефон], [Направление], [Пароль], [Фото]) VALUES (N'2Д', N'Герасимова Айлин Ефимовна', N'женский', N'Жюри', N'loraine.aufderhar@johnston.info', N'09.06.1966', N'53', N'7(835)478-61-60', N'Дизайн', N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Мероприятия] ([Код_мероприятия], [Cобытие], [Дата], [День], [Город]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', N'26 октября 2022 г.', N'1', 34)
INSERT [dbo].[Мероприятия] ([Код_мероприятия], [Cобытие], [Дата], [День], [Город]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', N'14 июля 2022 г.', N'3', 34)
INSERT [dbo].[Мероприятия] ([Код_мероприятия], [Cобытие], [Дата], [День], [Город]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', N'9 ноября 2023 г.', N'2', 2)
INSERT [dbo].[Модераторы] ([Код_модератора], [ФИО], [Пол], [Роль], [Почта], [Дата_рождения], [Страна], [Телефон], [Направление], [Мероприятие], [Пароль], [Фото]) VALUES (N'10Б', N'Новикова Александра Александровна', N'женский', N'Модератор', N'0z4fvq65c7tg@gmail.com', N'02.09.1982', N'76', N'7(1472)122-56-07', N'Аналитика', N'Стартапы', N'Kf64Y6rhZ3', N'foto18.jpg')
INSERT [dbo].[Модераторы] ([Код_модератора], [ФИО], [Пол], [Роль], [Почта], [Дата_рождения], [Страна], [Телефон], [Направление], [Мероприятие], [Пароль], [Фото]) VALUES (N'11Б', N'Масленников Родион Филиппович', N'мужской', N'Модератор', N'3kma18t5furi@gmail.com', N'09.06.1952', N'24', N'7(23)912-71-67', N'Аналитика', N'Стартапы', N's7iAYE9d38', N'foto19.jpg')
INSERT [dbo].[Модераторы] ([Код_модератора], [ФИО], [Пол], [Роль], [Почта], [Дата_рождения], [Страна], [Телефон], [Направление], [Мероприятие], [Пароль], [Фото]) VALUES (N'12Б', N'Иванов Тимур Иванович', N'мужской', N'Модератор', N'ws7nxyhd6g1o@yahoo.com', N'30.08.1955', N'6', N'7(5939)489-85-18', N'Информационная безопасность', N'Информационная безопасность', N'3Ga9jfT9D2', N'foto20.jpg')
INSERT [dbo].[Организаторы] ([Код_организатора], [ФИО], [Почта], [Дата_рождения], [Страна], [Телефон], [Пароль], [Фото], [Пол]) VALUES (N'10С', N'Кудряшова Виктория Дмитриевна', N't1wpou7merxi@yahoo.com', N'13.02.1999', N'16', N'7(427)939-24-67', N'fvm774FV3R', N'foto10.jpg', N'женский')
INSERT [dbo].[Организаторы] ([Код_организатора], [ФИО], [Почта], [Дата_рождения], [Страна], [Телефон], [Пароль], [Фото], [Пол]) VALUES (N'1С', N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', N'16.10.1988', N'51', N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', N'мужской')
INSERT [dbo].[Организаторы] ([Код_организатора], [ФИО], [Почта], [Дата_рождения], [Страна], [Телефон], [Пароль], [Фото], [Пол]) VALUES (N'2С', N'Новиков Фёдор Макарович', N'jkp23vlzsqei@gmail.com', N'03.08.1980', N'33', N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', N'мужской')
INSERT [dbo].[Страны] ([Название_страны], [Английское_название], [Код], [Код2]) VALUES (N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Страны] ([Название_страны], [Английское_название], [Код], [Код2]) VALUES (N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Страны] ([Название_страны], [Английское_название], [Код], [Код2]) VALUES (N'Австрия', N'Austria', N'AT', 40)
GO
INSERT [dbo].[Участники] ([Код_участника], [ФИО], [Почта], [Дата_рождения], [Страна], [Телефон], [Пароль], [Фото], [Пол]) VALUES (N'10А', N'Калинина Маргарита Анатольевна', N'bcevc@hotmail.com', N'08.06.1991', N'74', N'+7 (964) 571-56-50', N'4sBGr*', N'foto69.jpg', N'ж')
INSERT [dbo].[Участники] ([Код_участника], [ФИО], [Почта], [Дата_рождения], [Страна], [Телефон], [Пароль], [Фото], [Пол]) VALUES (N'11А', N'Горшкова Дина Тарасовна', N'sethbrown@aol.com', N'13.08.1991', N'7', N'+7 (918) 418-80-73', N'BpC8e8]', N'foto70.jpg', N'женский')
INSERT [dbo].[Участники] ([Код_участника], [ФИО], [Почта], [Дата_рождения], [Страна], [Телефон], [Пароль], [Фото], [Пол]) VALUES (N'12А', N'Гуляева Ирэна Юрьевна', N'ftgvh2xbdaps@tutanota.com', N'03.10.1992', N'38', N'+7 (91) 841-39-39', N'cI1CTd', N'foto1.jpg', N'женский')
ALTER TABLE [dbo].[Активности]  WITH NOCHECK ADD  CONSTRAINT [FK_Активности_Жюри] FOREIGN KEY([Код_жюри])
REFERENCES [dbo].[Жюри] ([Код_жюри])
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_Жюри]
GO
ALTER TABLE [dbo].[Активности]  WITH NOCHECK ADD  CONSTRAINT [FK_Активности_Модераторы] FOREIGN KEY([Код_модератора])
REFERENCES [dbo].[Модераторы] ([Код_модератора])
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_Модераторы]
GO
ALTER TABLE [dbo].[Активности]  WITH NOCHECK ADD  CONSTRAINT [FK_Активности_Организаторы] FOREIGN KEY([Код_организатора])
REFERENCES [dbo].[Организаторы] ([Код_организатора])
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_Организаторы]
GO
ALTER TABLE [dbo].[Активности]  WITH NOCHECK ADD  CONSTRAINT [FK_Активности_Участники] FOREIGN KEY([Код_участника])
REFERENCES [dbo].[Участники] ([Код_участника])
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_Участники]
GO
ALTER TABLE [dbo].[Жюри]  WITH NOCHECK ADD  CONSTRAINT [FK_Жюри_Страны] FOREIGN KEY([Страна])
REFERENCES [dbo].[Страны] ([Название_страны])
GO
ALTER TABLE [dbo].[Жюри] CHECK CONSTRAINT [FK_Жюри_Страны]
GO
ALTER TABLE [dbo].[Мероприятия]  WITH CHECK ADD  CONSTRAINT [FK_Мероприятия_Города] FOREIGN KEY([Город])
REFERENCES [dbo].[Города] ([Код_города])
GO
ALTER TABLE [dbo].[Мероприятия] CHECK CONSTRAINT [FK_Мероприятия_Города]
GO
ALTER TABLE [dbo].[Модераторы]  WITH NOCHECK ADD  CONSTRAINT [FK_Модераторы_Страны] FOREIGN KEY([Страна])
REFERENCES [dbo].[Страны] ([Название_страны])
GO
ALTER TABLE [dbo].[Модераторы] CHECK CONSTRAINT [FK_Модераторы_Страны]
GO
ALTER TABLE [dbo].[Организаторы]  WITH NOCHECK ADD  CONSTRAINT [FK_Организаторы_Страны] FOREIGN KEY([Страна])
REFERENCES [dbo].[Страны] ([Название_страны])
GO
ALTER TABLE [dbo].[Организаторы] CHECK CONSTRAINT [FK_Организаторы_Страны]
GO
ALTER TABLE [dbo].[Участники]  WITH NOCHECK ADD  CONSTRAINT [FK_Участники_Страны] FOREIGN KEY([Страна])
REFERENCES [dbo].[Страны] ([Название_страны])
GO
ALTER TABLE [dbo].[Участники] CHECK CONSTRAINT [FK_Участники_Страны]
GO
USE [master]
GO
